body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.calculator {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 150px;
}

    .calculator h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .calculator label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .calculator .form-control {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid #000;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .calculator .btn {
        width: 100%;
        padding: 10px;
        background-color: #000;
        color: #fff;
        border: 2px solid #000;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .calculator .btn:hover {
        background-color: #fff;
        color: #000;
    }

    .result {
        margin-top: 20px;
    }

    .result .alert {
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
     }

    .result .alert-info {
        background-color: #d9edf7;
        border: 1px solid #bce8f1;
        color: #31708f;
     }

     .result .alert-success {
        background-color: #dff0d8;
        border: 1px solid #d6e9c6;
        color: #3c763d;
     }

      .result .alert-danger {
        background-color: #f2dede;
        border: 1px solid #ebccd1;
       color: #a94442;
     }
